*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
    margin: 20% auto;
    width: 82%;  
    font-size: 26px;
}
#quote{
    margin-bottom: 1.3rem;
    margin-top: 2rem;
}
#author{
    font-size: 20px;
}
#place{
    margin-bottom: 1.2rem;
    font-size: 16px;
}
#btn{
    padding: 5px 10px;
    font-size: 20px;
    margin: 2rem 0;
    border-radius: 5px;
    border: none;
}